.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
}

.navbar {
    background-color: #232323;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(212,212,212, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar.navbar-expand-lg.light-mode {
    background-color: #edeced !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(40,40,40, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

}

.navbar .navbar-toggler {
    border: none;
    font-size: 1.25rem;
    color: #232323;
}

.offcanvas.offcanvas-end {
    max-width: 200px;
    background-color: #232323 !important;
    color: #d4d4d4 !important;
}


.offcanvas.offcanvas-end.light-mode {
    background-color: #edeced !important;
    color: #282828 !important;
}

.navbar .navbar-toggler:focus, .btn-close:focus {
    border: none;
    font-size: 1.25rem;
}

.nav-link {
    position: relative;
    color: #d4d4d4 !important;
    font-weight: 500;
    font-family: monospace;
}


.nav-link.mx-lg-2.lightmode {
    position: relative;
    color: #282828 !important;
    font-weight: 500;
    font-family: monospace;
}

.nav-link:hover, .nav-link.active {
    color: #5a5c5a !important;
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #5a5c5a;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}

.name {
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 0;
}
  
.toggle-dark-mode {
    padding: 8px 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
}
  